<link rel="stylesheet" href="app.component.css">

<header>
  <span class="clickable" routerLink="">
    <img class="logo" src="assets/img/exchance_logo.png" alt="Exchance Logo">
    <span>Exchance</span>
  </span>
  <div class="spacer"></div>
  <mat-form-field>
    <mat-label>Поиск</mat-label>
    <input matInput placeholder="Конструктор проектов">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="spacer"></div>
  <mat-icon class="clickable logout" routerLink="auth">login</mat-icon>
</header>
<mat-toolbar *ngIf="screenWidth <= 800" class="alert alert-success box-msg" role="alert">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav" >
    <img class="avatar" src="https://sun9-22.userapi.com/impg/uwIKBJdwF4KE-QmDV-mgvob45UhEtYLYEvMH8w/z5eXWq3rRcI.jpg?size=1200x1600&quality=96&sign=eb3d9ed8a6c898a2dcb61a0f8bd74388&type=album" />

    <h4 class="name">Коля Саня</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="">
      <span>Главная</span>
    </button>
    <button mat-button class="menu-button" routerLink="projects">
      <span>Проекты</span>
    </button>
    <button mat-button class="menu-button" routerLink="portfolio">
      <span>Портфолио</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="support_service">
      <span>Тех. поддержка</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer>
  <div class="footer__bottom-logos">
    <a target="_blank" href="https://vk.com/startup__club"> <img class="footer-logo" src="assets/img/vk.svg"></a>
    <!--<a target="_blank" href="https://www.facebook.com/iemsamara"> <img class="footer-logo" src="assets/img/facebook.svg"></a>-->
    <a target="_blank" href="https://www.instagram.com/startup__club/"> <img class="footer-logo" src="assets/img/instagram.svg"></a>
    <!--<a target="_blank" href="https://t.me/iem_samara"> <img class="footer-logo" src="assets/img/telegram.svg"></a>
    <a target="_blank" href="https://www.tiktok.com/@iem.ssau"> <img class="footer-logo" src="assets/img/tiktok.svg"></a>-->
  </div>
  <div class="footer__bottom-text">Exchance © {{currentYear}} |&nbsp;<a href="mailto:exchance@ssau.ru">exchance@ssau.ru</a>
  </div>
</footer>
